{{- if .Values.hsmsecret.enabled }}
{{- range .Values.hsmsecret.secrets }}
---
apiVersion: hsm.j5t.io/v1alpha1
kind: HSMSecret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace | default $.Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
  labels:
    {{- include "hsm-secrets-operator.labels" $ | nindent 4 }}
    app.kubernetes.io/component: hsmsecret
spec:
  # ParentRef automatically points to this Helm release's operator instance
  parentRef:
    name: {{ include "hsm-secrets-operator.controllerManagerName" $ }}
    namespace: {{ $.Release.Namespace }}
  {{- with .secretName }}
  secretName: {{ . }}
  {{- end }}
  {{- with .secretType }}
  secretType: {{ . }}
  {{- end }}
  {{- with .syncInterval }}
  syncInterval: {{ . }}
  {{- end }}
  autoSync: {{ .autoSync | default true }}
{{- end }}
{{- end }}

{{- if .Values.hsmdevice.enabled }}
{{- range .Values.hsmdevice.devices }}
---
apiVersion: hsm.j5t.io/v1alpha1
kind: HSMDevice
metadata:
  name: {{ .name }}
  namespace: {{ .namespace | default $.Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
  labels:
    {{- include "hsm-secrets-operator.labels" $ | nindent 4 }}
    app.kubernetes.io/component: hsmdevice
spec:
  {{- with .deviceType }}
  deviceType: {{ . }}
  {{- end }}
  {{- with .maxDevices }}
  maxDevices: {{ . }}
  {{- end }}
  {{- with .discovery }}
  discovery:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .pkcs11 }}
  pkcs11:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .mirroring }}
  mirroring:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}